@font-face {
  font-family: nino-herv;
  src: url(./assets/fonts/bpg_nino_mtavruli_normal.otf);
}
/* MUI's CssBaseline and theme handle most resets and base styles. */
/* Remove or comment out conflicting global styles below. */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
